*{margin:0px;
  padding:0px;
  box-sizing:border-box;
}

header{
  height:50px;
  background-color:#FF9A4B;
}

main{
  width:960px;
  display:flex;
  margin:50px auto;
}

.step-box{
  width:300px;
  background-color:#EEEEEE;
  margin-right:30px;
  padding:10px;
  position:relative;
}

.step-box:last-child{
  margin-right:0px;
}

.step{
  background-color:#FF9A4B;
  color:#fff;
  position:absolute;
  top:0;
  left:0;
}

.step-visual1{
  height:150px;
  background-image:url(img/flow01.png);
  background-position:bottom;
  background-size:cover;
}

.step-visual2{
  height:150px;
  background-image:url(img/flow02.png);
  background-position:bottom;
  background-size:cover;
}

.step-visual3{
  height:150px;
  background-image:url(img/flow03.png);
  background-position:bottom;
  background-size:cover;
}

.title{
  padding-bottom:5px;
  padding-top:15px;
}

footer{
  height:50px;
  background-color:#AAAAAA;
}

@media screen and (max-width:768px){
  header{
    width:100%;
  }

  main{
    width:90%;
    display:block;
  }

  .step-box{
    width:100%;
    margin-bottom:20px;
  }

  .step-box:last-child{
  margin-bottom:0px;
}

  footer{
    width:100%;
  }
}